body{
    text-align: center;
}

table, th, td{
    border: 1px solid black;
}

table {
	margin: auto;
    border-collapse: collapse;
    padding: 20px;
}

td{
    padding: 10px;
    text-align: center;
    background-color:LightYellow;
}

th{
    background-color:#E6E6FA;
    padding: 10px;
}