#header, #menu, #logo, #nav{
    margin: 0px;
}

#header{
    width: 100%;
    background-color: red;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

#header h1{
    text-align: center;
}

#menu{
    display: flex;
    flex-flow: row;
    justify-content: center;
    text-align: center;
}

#logo{
    width: 30%;
    background-color: green;
}

#logo2 {
    display: none;
}

#nav{
    width: 70%;
    background-color: blue;
}

#list ul{
    margin: 0px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

#sandwich{
    display: none;
    position: relative;
}


@media only screen and (max-width:692px){ 

    #sandwich{
        display: block;
    }

    #list{
        display: none;
    }

    #logo1 {
        display: none;
    }

    #logo2 {
        display: block;
    }        
}


#hidden-list{
    display: none;
    position: absolute;
    width: 100%;
    background-color: yellow;
}

#sandwich:hover #hidden-list{
    display: block;
}

#hidden-list ul{
    list-style: none;
}