*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

* h1 {
    font-size: 30px;
    padding: 13px;
}

#header{
    width: 100%;
    background-color: red;
    display: flex;
    flex-flow: column;
    justify-content: center;
    border: 2px solid black;
}

#header h1{
    text-align: center;
}

#menu{
    display: flex;
    flex-flow: row;
    justify-content: center;
    text-align: center;
}

#menu{
    border-top: 2px solid black;
}

#logo{
    width: 20%;
    background-color: green;
    border-right: 2px solid black;
}

#logo2 {
    display: none;
}

#nav{
    width: 80%;
    background-color: blue;
}

#button{
    display: none;
    position: relative;
}

@media only screen and (max-width:977px){ 

    #logo1 {
        display: none;
    }

    #logo2 {
        display: block;
    }

    #logo, #aside{
        min-width: 193px;
    }
}

@media only screen and (max-width:700px){ 

    #button{
        display: block;
    }

    #list{
        display: none;
    }    
}


#hidden-list{
    display: none;
    position: absolute;
    width: 100%;
    background-color: yellow;
    outline: 2px solid black;
    margin-top: 2px;
}

#hidden-list li{
    border-bottom: 2px solid black;
}

#hidden-list li:last-child{
    border-bottom: none;
}

#button:hover #hidden-list, #hidden-list:hover{
    display: block;
}

#hidden-list ul{
    list-style: none;
}

#list ul{
    position: relative;
    display: flex;
    flex-flow: row wrap;
    list-style: none;
}

#list ul li:first-child{
    border-left: none;
}

#list ul li{
    border-left: 2px solid black;
    flex: 90px;
}

#main{
    width: 100%;
    height: 100%;
    border-right: 2px solid black;
    border-left: 2px solid black;
}

#aside{
    display: flex;
    flex-flow: column;
    justify-content: center;
    text-align: center;
    border-right: 2px solid black;
    width: 20%;
}

#aside ul li{
    padding-top: 10px;
}

#aside ul li:last-child{
    padding-bottom: 10px;
}

#footer{
    bottom: 0;
    width: 100%;
    background-color: black;
    color: rgb(254,254,254);
    text-align: center;
    border: 2px solid black;
}