*{
    margin: 0px;
    padding: 0px;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}

nav ul li a{
    text-decoration: none;
}

.w3-theme-l3, .w3-theme-l4{
    margin: 0px;
    padding: 10px;
}

.w3-theme-l3 p, .w3-theme-l4 p, .w3-theme-l4 ul{
    margin: 0px;
    padding: 5px;
    width: 40%;
}

.w3-theme-l4 ul{
    margin-left: 15px;
}




