/* 
fichero css con formatos de padding
alumno:
fecha:
*/
body {
  background-color:gray;
}

h1 {
  margin:70px 20px;
  background-color:red;
  color:yellow;
}

p {
  margin:70px 20px;
  padding-bottom:none;
  background-color:white;
}

div {
  margin-left:200px;
  padding-bottom:25px;
  width:700px;
  height:auto;
  background-color:pink;
}

